body {
  background-color: #f7f7f5;
  font-family: Karla, sans-serif;
  color: #66666a;
  font-size: 15px;
  line-height: 22.5px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 27px;
  line-height: 39px;
  font-weight: 400;
  letter-spacing: -0.75px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 23.5px;
  line-height: 34.5px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 18px;
  line-height: 29px;
  font-style: italic;
  font-weight: 400;
}

h4 {
  margin-top: 9px;
  margin-bottom: 10px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 16.5px;
  line-height: 27.5px;
  font-style: italic;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 12px;
  line-height: 23px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  color: #66666a;
  font-size: 15px;
  line-height: 22.5px;
}

a {
  color: #66666a;
  text-decoration: underline;
}

a.w--current {
  cursor: pointer;
}

blockquote {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 10px 20px;
  border-right: 1px none #000;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 23px;
  line-height: 32px;
  font-style: italic;
  text-align: center;
}

figcaption {
  margin-top: 5px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-style: italic;
  text-align: center;
}

.content-wrapper {
  position: relative;
  max-width: 1035px;
  padding-right: 20px;
  padding-left: 20px;
}

.content-wrapper.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.content-section.top-padding {
  padding-top: 90px;
}

.content-section.black {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #161619;
}

.style-box {
  margin-bottom: 60px;
}

.gray-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Karla, sans-serif;
  color: #66666a;
}

.gray-title.more-border {
  margin-bottom: 15px;
}

.button {
  display: inline;
  height: 48px;
  min-width: 200px;
  margin-left: 0px;
  padding-top: 14px;
  background-color: #222228;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: Karla, sans-serif;
  color: #f7f7f5;
  font-size: 14px;
  text-align: center;
}

.button:hover {
  padding-top: 13px;
  border: 1px solid #222228;
  background-color: transparent;
  color: #222228;
}

.top-border {
  margin-top: 15px;
}

.top-border.small {
  margin-top: 5px;
}

.button-2 {
  height: 48px;
  min-width: 200px;
  padding-top: 14px;
  background-color: #f7f7f5;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: Karla, sans-serif;
  color: #222228;
  text-align: center;
}

.button-2:hover {
  padding-top: 13px;
  border: 1px solid #f7f7f5;
  background-color: transparent;
  color: #f7f7f5;
}

.navbar {
  height: 140px;
  padding-top: 55px;
  border-bottom: 1px solid #222228;
  background-color: transparent;
}

.navbar.white-border {
  border-bottom-color: #f7f7f5;
}

.brand {
  height: 85px;
  padding-top: 15px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand:hover {
  opacity: 0.8;
}

.hero-section {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-link {
  height: 85px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 13.75px;
  font-weight: 500;
}

.nav-link:hover {
  color: rgba(102, 102, 106, 0.9);
}

.nav-link.w--current {
  color: rgba(102, 102, 106, 0.9);
}

.nav-link.white {
  color: #f7f7f5;
}

.nav-link.white:hover {
  color: rgba(247, 247, 245, 0.75);
}

.nav-link.white.w--current {
  color: rgba(247, 247, 245, 0.75);
}

._20-percent-column {
  width: 20%;
}

.brand-footer {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand-footer:hover {
  opacity: 0.8;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-link {
  margin-right: 25px;
  color: #66666a;
  font-size: 11.74px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link.last {
  margin-right: 0px;
}

.footer-righ-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.notice {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 12.5px;
}

.row-licensing {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #222228;
}

.content-section-3 {
  padding-bottom: 90px;
}

.grayscale-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.signature {
  margin-top: 15px;
  margin-bottom: 30px;
}

.intro-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  padding-bottom: 45px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #222228;
}

.intro-feature {
  width: 33.33%;
  padding-right: 4%;
  padding-left: 4%;
  text-align: center;
}

.inner-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0px none transparent;
}

.inner-section.no-flex {
  display: block;
}

.inner-section.bottom-border {
  margin-bottom: 80px;
}

.inner-section.bottom-line {
  border-top: 1px solid #222228;
}

.inner-section.top-line {
  border-top: 1px solid #222228;
}

._80-percent-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._80-percent-column.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._33-percent-column {
  width: 33.33%;
  margin-bottom: 40px;
}

._33-percent-column._4 {
  margin-bottom: 0px;
}

._33-percent-column._5 {
  margin-bottom: 0px;
}

._33-percent-column._6 {
  margin-bottom: 0px;
}

.small-title {
  margin-bottom: 8px;
  font-family: Montserrat, sans-serif;
  font-size: 11.75px;
}

.small-title.no-border {
  margin-bottom: 0px;
}

.h4.less-border {
  margin-bottom: 0px;
}

.h4.no-border {
  margin-bottom: 0px;
}

.h4.no-top-border {
  margin-top: 0px;
}

.bottom-border {
  margin-bottom: 40px;
}

.bottom-border.no-border {
  margin-bottom: 0px;
}

.bottom-border.small {
  margin-bottom: 5px;
}

.lightbox-link {
  overflow: hidden;
  width: 48%;
  margin-bottom: 30px;
}

.portolio-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header {
  position: relative;
  z-index: 5;
  display: block;
  width: 54%;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  text-align: center;
}

.flex-narrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-narrow.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  margin-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features._4 {
  margin-bottom: 0px;
}

.features._5 {
  margin-bottom: 0px;
}

.features._6 {
  margin-bottom: 0px;
}

.dark-title {
  font-family: Karla, sans-serif;
  color: #222228;
}

.icon {
  margin-top: 8px;
  margin-right: 15px;
}

.icon.border {
  margin-bottom: 15px;
}

.percentage {
  margin-bottom: 5px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 30px;
  line-height: 30px;
}

.percentage-bar {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 8.5px;
  border: 1px solid #222228;
  border-radius: 35px;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #222228;
}

.lines {
  position: relative;
  right: 14%;
  bottom: 110px;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.lines._2 {
  right: 35%;
}

.lines._1 {
  right: 24%;
}

.lines._3 {
  right: 55%;
}

.lines._5 {
  right: 44%;
}

.lines._6 {
  right: 65%;
}

.black-section {
  position: relative;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #222228;
}

.slider {
  height: 100%;
  background-color: transparent;
}

.slide-text {
  display: block;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.white-title {
  margin-top: 10px;
  color: #f7f7f5;
}

.white-title.link {
  text-decoration: none;
}

.white-title.link:hover {
  text-decoration: underline;
}

.quote {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  color: #f7f7f5;
  font-size: 23.5px;
  line-height: 35px;
  font-style: italic;
}

.reference-name {
  font-family: Lora, sans-serif;
  color: #66666a;
}

.reference-name.white {
  color: #fff;
}

.slide-arrow {
  display: block;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #66666a;
  font-size: 22px;
}

.slide-arrow:hover {
  opacity: 1;
}

.slide-nav {
  display: none;
}

.slide-nav.show {
  position: relative;
  display: block;
  margin-top: 15px;
  text-align: center;
}

.form-block {
  width: 100%;
  margin-top: 15px;
}

.field-label {
  margin-left: 15px;
  font-size: 12px;
}

.field-label.white {
  color: #fff;
}

.text-field {
  height: 44px;
  border: 1px solid #222228;
  background-color: transparent;
  font-size: 13px;
}

.text-field.white {
  border-color: #fff;
  color: #fff;
}

.text-field.white:focus {
  color: #fff;
}

.text-field.white::-webkit-input-placeholder {
  color: #f7f7f5;
}

.text-field.white:-ms-input-placeholder {
  color: #f7f7f5;
}

.text-field.white::-ms-input-placeholder {
  color: #f7f7f5;
}

.text-field.white::placeholder {
  color: #f7f7f5;
}

.form-input {
  width: 48%;
  margin-bottom: 15px;
}

.form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.message {
  width: 100%;
  margin-bottom: 15px;
}

.message-field {
  padding-top: 14px;
  padding-bottom: 50px;
  border: 1px solid #222228;
  background-color: transparent;
  font-size: 13px;
}

.message-field.white {
  border-color: #f7f7f5;
  color: #fff;
}

.message-field.white:focus {
  color: #fff;
}

.message-field.white::-webkit-input-placeholder {
  color: #f7f7f5;
}

.message-field.white:-ms-input-placeholder {
  color: #f7f7f5;
}

.message-field.white::-ms-input-placeholder {
  color: #f7f7f5;
}

.message-field.white::placeholder {
  color: #f7f7f5;
}

.submit-button {
  height: 48px;
  min-width: 190px;
  border: 1px solid #222228;
  background-color: transparent;
  -webkit-transition: all 200ms ease, color 200ms ease;
  transition: all 200ms ease, color 200ms ease;
  color: #222228;
}

.submit-button:hover {
  border-style: none;
  background-color: #222228;
  color: #f7f7f5;
}

.submit-button.white {
  border-color: #f7f7f5;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #fff;
}

.submit-button.white:hover {
  background-color: #f7f7f5;
  color: #222228;
}

.about-me-left {
  position: relative;
  z-index: 5;
  width: 50%;
  padding-right: 45px;
}

.about-me-right {
  width: 50%;
}

._33-column-item {
  width: 33.33%;
  margin-bottom: 40px;
}

._33-column-item._4 {
  margin-bottom: 0px;
}

._33-column-item._5 {
  margin-bottom: 0px;
}

._33-column-item._6 {
  margin-bottom: 0px;
}

.spheres {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  width: 100%;
  height: 150%;
}

.sphere-1 {
  position: absolute;
  left: -56px;
  top: 110px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(240deg, #fff, #222228);
}

.sphere-2 {
  position: absolute;
  top: -16px;
  right: 46px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: linear-gradient(145deg, #fff, #222228);
}

.sphere-3 {
  position: absolute;
  top: 62px;
  right: -99px;
  bottom: 10px;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-image: linear-gradient(228deg, #fff, #222228);
}

.outline-circles {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  height: 100%;
}

.outline-circle-1 {
  position: absolute;
  left: -56px;
  top: 110px;
  z-index: 1;
  width: 150px;
  height: 150px;
  background-color: transparent;
  background-image: url('../images/Outline-Circle-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.outline-circle-2 {
  position: absolute;
  top: -16px;
  right: 82px;
  z-index: 1;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url('../images/Outline-Circle-2.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.outline-circle-3 {
  position: absolute;
  top: 62px;
  right: -61px;
  z-index: 1;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-image: url('../images/Outline-Circle-3.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.h1.white {
  color: #f7f7f5;
}

.paragraph.white {
  color: #f7f7f5;
}

.black-navbar {
  background-color: #161619;
}

.signature-white {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.employers-black {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #1c1c20;
}

.logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo {
  width: 20%;
}

.logo._4 {
  width: 15%;
}

.logos-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.features-2._4 {
  margin-bottom: 0px;
}

.features-2._5 {
  margin-bottom: 0px;
}

.features-2._6 {
  margin-bottom: 0px;
}

.h3.less-border {
  margin-bottom: 5px;
}

._33-column-item-2 {
  width: 33.33%;
  margin-bottom: 40px;
}

._33-column-item-2._3 {
  width: 25%;
}

._33-column-item-2._4 {
  margin-bottom: 0px;
}

._33-column-item-2._5 {
  margin-bottom: 0px;
}

._33-column-item-2._6 {
  width: 25%;
  margin-bottom: 0px;
}

.static {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}

.static._4 {
  width: 20%;
}

.number {
  margin-right: 8px;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 40px;
  line-height: 40px;
}

.less-line-height {
  margin-right: -19px;
  padding-right: 1px;
  line-height: 18px;
}

.lightbox-link-2 {
  overflow: hidden;
  width: 32%;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slider-2 {
  height: 100%;
  background-color: transparent;
}

.h2.white {
  color: #f7f7f5;
}

.black-section-2 {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #222228;
}

.success-message {
  background-color: transparent;
}

.success-message.white {
  color: #f7f7f5;
}

.intro-picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side-item {
  margin-bottom: 30px;
}

.side-item.no-border {
  margin-bottom: 0px;
}

.side-item.less-item {
  margin-bottom: 15px;
}

.side-left-column {
  width: 27%;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 60px;
  border-right: 1px solid #000;
  border-bottom: 1px solid transparent;
}

.side-right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
  padding-top: 42px;
  padding-bottom: 0px;
  padding-left: 8%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-column-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.inner-column-section.intro {
  padding-top: 0px;
}

.inner-column-section.no-top-padding {
  padding-top: 0px;
}

.less-bottom-border {
  width: 100%;
  margin-bottom: 0px;
}

.intro-left-column {
  width: 27%;
  padding-bottom: 60px;
}

.intro-right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.intro-right-column.picture {
  padding-bottom: 0px;
}

.intro-about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dropdown {
  height: 85px;
  font-family: Montserrat, sans-serif;
  font-size: 13.75px;
  font-weight: 500;
}

.dropdown.white {
  color: #f7f7f5;
}

.dropdown-link {
  height: 60px;
  padding-top: 19px;
  background-color: #222228;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #f7f7f5;
}

.dropdown-link:hover {
  color: #66666a;
}

.dropdown-link.w--current {
  color: #66666a;
}

.dropdown-link.white {
  background-color: #f7f7f5;
  color: #222228;
}

.dropdown-link.white:hover {
  color: #66666a;
}

.dropdown-link.white.w--current {
  color: #66666a;
}

.dropdown-toggle {
  height: 85px;
}

.dropdown-toggle.white {
  color: #f7f7f5;
}

.dropdown-arrow {
  margin-top: 25px;
}

.dropdown-arrow.white {
  color: #f7f7f5;
}

.scale-on-hover {
  margin-right: 10px;
  padding-right: 2px;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.scale-on-hover:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.link-block {
  overflow: auto;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.layout {
  width: 30%;
}

.title-box {
  margin-bottom: 15px;
  border-bottom: 1px solid #222228;
}

.faq-box {
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222228;
}

.utility-page-wrap {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f5;
}

.utility-page-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.submit-button-2 {
  height: 48px;
  min-width: 190px;
  background-color: #222228;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #f7f7f5;
}

.submit-button-2:hover {
  border: 1px solid #222228;
  background-color: transparent;
  color: #222228;
}

.body {
  background-color: #f7f7f5;
}

.black-bg {
  margin-top: 15px;
  padding: 9px;
  background-color: #222228;
}

.footer-left-column {
  width: 20%;
}

.percentage-item {
  width: 33.33%;
}

.full-border {
  margin-bottom: 60px;
}

.question {
  display: inline-block;
  font-family: Lora, sans-serif;
  color: #222228;
  font-size: 16.5px;
  line-height: 27.5px;
}

.answer-paragraph {
  display: inline-block;
  width: 90%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.answer {
  display: inline-block;
  width: 48px;
}

.question-text {
  display: inline-block;
  width: 90%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-no-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-center._3 {
  margin-bottom: 0px;
}

.column-center._4 {
  margin-bottom: 0px;
}

.column-center._5 {
  margin-bottom: 0px;
}

.features-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-vertical._4 {
  margin-bottom: 0px;
}

.features-vertical._5 {
  margin-bottom: 0px;
}

.features-vertical._6 {
  margin-bottom: 0px;
}

.link-block-2 {
  width: 30px;
  height: 26px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #66666a;
  background-image: url('../images/Up_1Up.png');
  background-position: 50% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.expand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-2 {
  margin-bottom: 39px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    padding-top: 32px;
    color: #f7f7f5;
  }
  .nav-link.white {
    padding-top: 32px;
    color: #222228;
  }
  .nav-link.white:hover {
    color: #66666a;
  }
  .nav-link.white.w--current {
    color: #66666a;
  }
  .lightbox-link {
    margin-bottom: 20px;
  }
  .slide-text {
    width: 65%;
  }
  .signature-white {
    right: 26px;
  }
  .lightbox-link-2 {
    margin-bottom: 20px;
  }
  .menu-button-white {
    color: #f7f7f5;
  }
  .menu-button-white.w--open {
    background-color: #f7f7f5;
    color: #222228;
  }
  .dropdown-toggle {
    padding-top: 30px;
    color: #f7f7f5;
  }
  .dropdown-toggle.white {
    padding-top: 32px;
    color: #222228;
  }
  .dropdown-arrow {
    margin-top: 35px;
  }
  .dropdown-arrow.white {
    color: #222228;
  }
  .nav-menu {
    background-color: #222228;
  }
  .nav-menu.white {
    background-color: #f7f7f5;
  }
  .menu-button {
    color: #222228;
  }
  .menu-button.w--open {
    background-color: #222228;
  }
}

@media screen and (max-width: 767px) {
  .nav-link.white {
    color: #222228;
  }
  ._33-percent-column {
    width: 48%;
  }
  ._33-percent-column._4 {
    margin-bottom: 30px;
  }
  .header {
    width: 70%;
  }
  .features {
    width: 48%;
  }
  ._33-column-item {
    width: 48%;
  }
  .logo {
    width: 48%;
    margin-bottom: 40px;
  }
  .logo._1 {
    width: 40%;
  }
  .logo._2 {
    width: 40%;
  }
  .logo._3 {
    width: 40%;
    margin-bottom: 0px;
  }
  .logo._4 {
    width: 40%;
    margin-bottom: 0px;
  }
  .logos-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .features-2 {
    width: 48%;
  }
  ._33-column-item-2 {
    width: 48%;
  }
  ._33-column-item-2._3 {
    width: 48%;
  }
  ._33-column-item-2._6 {
    width: 48%;
  }
  .static {
    width: 50%;
    margin-bottom: 20px;
  }
  .static._3 {
    margin-bottom: 0px;
  }
  .static._4 {
    width: 50%;
    margin-bottom: 0px;
  }
  .menu-button-white {
    color: #f7f7f5;
  }
  .menu-button-white.w--open {
    background-color: #f7f7f5;
    color: #222228;
  }
  .nav-menu {
    color: #f7f7f5;
  }
  .nav-menu.white {
    background-color: #f7f7f5;
  }
  .percentage-item {
    width: 48%;
    margin-bottom: 40px;
  }
  .percentage-item._3 {
    margin-bottom: 0px;
  }
  .column-center {
    width: 48%;
  }
  .column-center._4 {
    margin-bottom: 40px;
  }
  .column-center._5 {
    margin-bottom: 40px;
  }
  .column-center._6 {
    margin-bottom: 0px;
  }
  .column-center._7 {
    margin-bottom: 0px;
  }
  .features-vertical {
    width: 48%;
  }
}

@media screen and (max-width: 479px) {
  ._20-percent-column {
    width: 100%;
  }
  .brand-footer {
    margin-bottom: 20px;
  }
  .flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .intro-feature {
    width: 100%;
  }
  .intro-feature._1 {
    margin-bottom: 40px;
  }
  .intro-feature._2 {
    margin-bottom: 40px;
  }
  ._80-percent-column {
    width: 100%;
  }
  ._33-percent-column {
    width: 100%;
  }
  ._33-percent-column._4 {
    margin-bottom: 40px;
  }
  ._33-percent-column._5 {
    margin-bottom: 40px;
  }
  .lightbox-link {
    width: 100%;
  }
  .portolio-flex {
    width: 100%;
  }
  .portolio-flex.mobile-top-border {
    margin-top: 15px;
  }
  .features {
    width: 100%;
  }
  .features._4 {
    margin-bottom: 40px;
  }
  .features._5 {
    margin-bottom: 40px;
  }
  .percentage.mobile-top {
    margin-top: 10px;
  }
  .slide-text {
    width: 90%;
  }
  .slide-arrow {
    display: none;
  }
  .slide-nav {
    position: relative;
    display: block;
    margin-top: 15px;
  }
  .form-input {
    width: 100%;
  }
  .about-me-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-me-right {
    width: 100%;
  }
  ._33-column-item {
    width: 100%;
  }
  ._33-column-item._4 {
    margin-bottom: 40px;
  }
  ._33-column-item._5 {
    margin-bottom: 40px;
  }
  .logo {
    width: 100%;
    margin-bottom: 40px;
  }
  .logo._1 {
    width: 100%;
  }
  .logo._2 {
    width: 100%;
  }
  .logo._3 {
    width: 100%;
    margin-bottom: 40px;
  }
  .logo._4 {
    width: 100%;
  }
  .logos-container {
    width: 100%;
    margin-top: 40px;
  }
  .features-2 {
    width: 100%;
  }
  .features-2._4 {
    margin-bottom: 40px;
  }
  .features-2._5 {
    margin-bottom: 40px;
  }
  ._33-column-item-2 {
    width: 100%;
  }
  ._33-column-item-2._4 {
    margin-bottom: 40px;
  }
  ._33-column-item-2._5 {
    margin-bottom: 40px;
  }
  .static {
    width: 100%;
    margin-bottom: 40px;
  }
  .static._1 {
    margin-bottom: 40px;
  }
  .static._3 {
    margin-bottom: 40px;
  }
  .lightbox-link-2 {
    width: 100%;
  }
  .side-left-column {
    width: 100%;
    padding-right: 0px;
    border-bottom: 1px solid #222228;
    border-right-style: none;
  }
  .side-right-column {
    width: 100%;
    padding-left: 0px;
  }
  .intro-left-column {
    width: 100%;
    padding-bottom: 10px;
  }
  .intro-right-column {
    width: 100%;
  }
  .layout {
    width: 100%;
    margin-bottom: 80px;
  }
  .footer-left-column {
    width: 100%;
  }
  .percentage-item {
    width: 100%;
  }
  .flex-no-wrapp {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .column-center {
    width: 100%;
  }
  .column-center._3 {
    margin-bottom: 40px;
  }
  .column-center._4 {
    margin-bottom: 40px;
  }
  .features-vertical {
    width: 100%;
  }
  .features-vertical._4 {
    margin-bottom: 40px;
  }
  .features-vertical._5 {
    margin-bottom: 40px;
  }
}

